<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Brander\ContactUs\Api\Data\GridInterface" type="Brander\ContactUs\Model\Grid" />
    <preference for="Brander\ContactUs\Api\Data\ConfigInterface" type="Brander\ContactUs\Model\ContactUsConfig" />
    <virtualType name="Brander\ContactUs\Model\ResourceModel\Grid\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">brander_contact_us</argument>
            <argument name="resourceModel" xsi:type="string">Brander\ContactUs\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contactus_grid_listing_data_source" xsi:type="string">Brander\ContactUs\Model\ResourceModel\Grid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>