<div data-bind="text: message"></div>
<form class="form contact" id="contact-form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
    <input data-bind="value: getFormKey(), attr: {type: 'hidden', name: 'form_key'}"  />
    <fieldset class="fieldset">
        <legend class="legend">
            <span data-bind="i18n: 'Write Us'"></span>
        </legend>
        <br />
        <div class="field note no-label" data-bind="i18n: 'And we’ll get back to you as quickly as possible.'"></div>

        <!-- ko foreach: getRegion('custom-contactus-form-fields') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" data-bind="click:submitForm, i18n:'Submit', attr: {title: $t('Submit')}"></button>
        </div>
    </div>
</form>
